*{
  margin: 0px;
  padding: 0px;
}


header {
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    border: 4px solid gray;


}

header img {
  overflow: auto;
  position: absolute;
  top:  21px;
  left: 21px;
  width: 125px;
  height: 125px;
  
   }

div#wrapper {
    margin: 15px;
}

 aside {
    display: table-cell;
    vertical-align: left;

}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 15px;
    background-color: gray;
    position: absolute;
    top: 270px;
    left: 30px;
  }

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul li.active {
    border-left: 5px solid black;
}

nav ul a {
    text-decoration: none;
    color: white;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border-left: 4px solid gray;
}

body{

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: gray;
    text-align: center;
}

 #bird2{
  	float: right;
  	width:170px;
  	height:270px;
  	margin: 0 0 15px 20px;
  	padding: 15px;
  	border: 1px solid black;

  }
  #bird1{
  	float: left;
  	width:300px;
  	height:180px;
  	margin: 0 0 15px 20px;
  	padding: 15px;
  	border: 1px solid black;
    position: relative;

  }
  
  #keres{
  overflow: hidden;
  background-color: #e9e9e9;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#korhaz{
font-style: italic;
font-size: x-large;
}

#vid1{
 
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  
  
}
#vid2{
  
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
#vid3{
 
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  height: 180px;
}

div.gallery img {
float: left;
  width: 100%;
  height: 100%;
}


div.box{
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  width: 35%;
}

article{
  margin: 10px;

}

#cikk{
margin: 50px 0px 0px 0px;

}

label input, label textarea {
  
  float: right;
  border: 2px black solid;
  padding: 2px;
  }
textarea {
  width: 350px;
  }
input{
  float: right;
  clear: both;
  }
#kuld {
  float: right;
  }
#ellenoriz{
   float: right;
}

input{

  float: left;
}
